.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

#home-section {
  background: url(./img/Lean-Budgeting-Part-One.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 530px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 485px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 46px;
  z-index: 2;
}
#home-section .home-inner {
  padding-top: 50px;
  /* padding-right: 50px; */
}

#home-section .fas {
  color: #00a6a4;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

#budget-section .fas {
  color: white;
  background: #00a6a4;
  padding: 5px;
  border-radius: 5px;
}

.home-cards {
  border-radius: 0.6rem !important;
  border-top: #00a6a4 5px solid;
}
.navbar-primary {
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, #00a6a4, rgb(195, 121, 218)) 1;
  opacity: 0.8;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.grivety {
  max-width: 150px !important;
}

.grivety-small {
  max-width: 60px !important;
}
.border {
  border-radius: 0.25rem;
}

.table-hover tbody tr:hover td {
  background-color: #8ecddf;
}

.table-hover tbody tr:hover.no-hover td {
  background-color: #696969 !important;
}

.no-hover td {
  vertical-align: middle;
}

.no-hover {
  background-color: #696969 !important;
}
.table-header {
  background-image: linear-gradient(rgb(255, 255, 255), #dfdfdf);
}
.small-font {
  font-size: 0.7rem !important;
  color: #999;
}

.extra-small-font-grey {
  color: #585858;
  font-size: 0.54rem !important;
}
.extra-small-font {
  font-size: 0.54rem !important;
}

.extra-small-small-font {
  font-size: 0.6rem !important;
}
.extra-small-small-font-grey {
  font-size: 0.6rem !important;
  color: #999;
}

.small-font {
  font-size: 0.7rem !important;
}

.small-font-grey {
  font-size: 0.7rem !important;
  color: #999;
}

.small-medium-font {
  font-size: 0.8rem !important;
}
.small-medium-font-grey {
  font-size: 0.8rem !important;
  color: #999;
}

.medium-font {
  font-size: 0.9rem !important;
}

.medium-font-grey {
  font-size: 0.9rem !important;
  color: #999;
}

.medium-large-font {
  font-size: 1rem !important;
}

.medium-large-font-grey {
  font-size: 1rem !important;
  color: #999;
}

.large-font {
  font-size: 1.1rem !important;
}
.large-font-grey {
  font-size: 1.1rem !important;
  color: #999;
}

.large-extra-large-font {
  font-size: 1.2rem !important;
}

.large-extra-large-font-grey {
  font-size: 1.2rem !important;
  color: #999;
}
.extra-large-font {
  font-size: 1.3rem !important;
}

.extra-large-font-grey {
  font-size: 1.3rem !important;
  color: #999;
}

.card {
  border-radius: 0em;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0px !important;
}
ul.horizontal-bar li.cash {
  line-height: 12px;
  height: 12px;
  margin: 0 0 8px;
  background-color: #0ac775;
}
ul,
ol {
  vertical-align: baseline;
}

ul.vertical-bar {
  border-bottom: none;
  position: relative;
  zoom: 1;
  display: block;
  /* width: calc(100%=40px); */
  margin: 40px 0 20px;
}

ul.vertical-bar li.graphLines div.graphTop aside,
ul.vertical-bar li.graphLines div.graphMiddle aside {
  top: -10px;
}
ul li {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

ul.vertical-bar li.graphLines div aside {
  font-size: 9px;
  position: relative;
  right: 0;
}
ul.vertical-bar li {
  bottom: 0;
  text-align: center;
  vertical-align: top;
  width: 16.6%;
  z-index: 2;
  display: inline-block;
  margin-left: -5px;
}
ul.vertical-bar,
ul.vertical-bar li.month {
  height: 160px;
  padding-inline-start: 0px !important;
}
ul.vertical-bar li.month {
  position: relative;
  color: #999;
}
ul.vertical-bar li.graphLines {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
ul.vertical-bar li.graphLines div {
  border-top: 1px solid #ebebeb;
  height: 19px;
  position: relative;
  width: 85%;
  text-align: right;
  margin-left: 10px;
}
h2.month-header {
  margin-bottom: 20px;
}
ul.vertical-bar li.month label {
  width: 100%;
  margin-bottom: -20px;
  position: relative;
  top: -24px;
  text-transform: uppercase;
  text-align: center;
  float: left;
  font-size: 9px;
  letter-spacing: normal;
  color: #999;
}
ul.vertical-bar p {
  color: #999;
  display: inline;
  background: #fff;
  position: relative;
  right: -35px;
}
ul.vertical-bar li.graphLines div.graphMiddle {
  border-color: #ccc;
}

a.text-success:focus,
a.text-success:hover {
  color: #28a745 !important;
}

div,
h2,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
a:hover {
  color: inherit;
}
div {
  display: block;
}
ul.vertical-bar li a {
  width: 12px;
  position: relative;
  display: block;
  margin: -3px auto 0;
  text-decoration: none;
  background-color: #0ac775;
}

a,
nav li {
  cursor: pointer;
}

ul.vertical-bar li a.negative {
  background-color: #f24965;
  top: 50%;
  padding-bottom: 2px;
}

ul.horizontal-bar {
  list-style: none;
  padding-left: 40px;
  padding-top: 5px;
  padding-inline-start: 40px !important;
}

ul.horizontal-bar li.debt {
  background-color: #f24965;
  line-height: 12px;
  height: 12px;
  margin: 0 0 8px;
  border-bottom: #272727;
}

element.style {
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.shadow-lg {
  box-shadow: -15px 0 25px -14px rgba(0, 0, 0, 0.175) !important;
}
ul.horizontal-bar li label {
  color: #999;
  text-transform: uppercase;
  font-size: 0.55rem;
  float: none;
  text-align: left;
  margin: 0;
  padding-left: 0.5rem;
  white-space: nowrap;
  width: 40px;
  position: absolute;
  left: 0.22rem;
}
.card-body {
  padding: 0.25rem;
  font-weight: 400 !important;
}

.logo-background {
  background-color: #272727 !important;
  color: white;
  opacity: 0.9;
}

ul.horizontal-bar li var {
  position: relative;
  right: 0.4rem;
  width: 40px;
  float: left;
  font-size: 0.6rem;
  left: 100%;
  padding-left: 0.4rem;
  white-space: nowrap;
  font-weight: 350;
}

.secondary-nav {
  display: flex;
  justify-content: space-between !important ;
}

.card-heading-background {
  background-color: #f7f7f7;
}
/* Bell animation */

.faa-ring {
  color: white;
}

.card-header {
  border-bottom-width: 1px solid !important;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 235, 235);
  background-color: #fff;
  margin: 0.3rem;
}
.account-list-primary-left {
  list-style: none;
  float: left;
  font-size: 12px;
  border: none;
  padding: 0px;
}

.account-list-primary-right {
  float: right;
  list-style: none;
  font-size: 12px;
  border: none;
  padding: 0px;
}

.account-list-secondary-left {
  float: left;
  list-style: none;
  font-size: 7px;
  border: none;
  padding: 0px;
}

.list-group-item {
  border: none;
  padding: 0px;
}

.link-button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.table td.selected-transaction-row {
  padding: 0.2rem !important;
  vertical-align: center;
  text-align: center;
  height: 0.5rem !important;
}

.table th.selected-transaction-row {
  padding: 0.2rem !important;
  vertical-align: center;
  text-align: center;
}
.month-table .table th,
.month-table .table td {
  padding: 0.75rem !important;
}
/* .table td {
  padding: 0rem !important;
} */
.table td.unselected-transaction-row {
  padding-left: 0.61rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.26rem !important;
  vertical-align: center;
}

td button:focus {
  outline: none;
}
.link-button:hover,
.link-button:focus {
  border: none;
  text-decoration: none;
}

/* .transaction-table {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-right: 0.3rem !important;
} */
@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 5s ease infinite;
  animation: ring 5s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}
